HUB_HOST=0.0.0.0
HUB_PORT=8000
HUB_SECRET_KEY=change-me-in-production
HUB_WORKERS=4
HUB_LOG_LEVEL=info

HUB_ENCRYPTION_KEY_PATH=./keys/encryption.key
HUB_PUBLIC_KEY_PATH=./keys/public_key.pem
EDGE_PRIVATE_KEY_PATH=./keys/private_key.pem
EDGE_PUBLIC_KEY_PATH=./keys/public_key.pem

CUSTOM_VIT_WEIGHTS_PATH=./model/best_vit_model.pth
LORA_ADAPTER_PATH=./edge_node/lora_adapter/adapter_model.bin
HF_HOME=~/.cache/huggingface

DEVICE=auto
USE_FP16=true
FP16_MIN_COMPUTE_CAPABILITY=7

CLIP_KNOWN_THRESHOLD=0.80
CLIP_ADAPT_THRESHOLD=0.50

FAISS_EMBEDDING_DIM=512
FAISS_CLUSTER_THRESHOLD=10

FEDAVG_MIN_PARTICIPANTS=1
HUB_RETRAIN_MIN_SAMPLES=5

ADAPTER_POLL_INTERVAL=30

CAMERA_INDEX=0
INFERENCE_INTERVAL=0.5

ENABLE_MONITORING=true
PROMETHEUS_SCRAPE_INTERVAL=15
ALERT_WEBHOOK_URL=

CORS_ALLOWED_ORIGINS=http://localhost:3000
API_KEY=change-me-in-production